
<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Total requisições/dia</span>
                        <div class="text-900 font-medium text-xl">3000</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                        <!-- <i class="pi pi-shopping-cart text-blue-500 text-xl"></i> -->
                        <i class="material-icons"> today</i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">24 novas </span>
                <span class="text-500"> - Última verificação ás 19:40</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Total requisições/mês</span>
                        <div class="text-900 font-medium text-xl">22000</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <!-- <i class="pi pi-map-marker text-orange-500 text-xl"></i> -->
                        <i class="material-icons"> calendar_today</i>
                        
                    </div>
                </div>
                <span class="text-green-500 font-medium">3000 novas </span>
                <span class="text-500"> - Última verificação ás 19:40</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Custo Total/mês</span>
                        <div class="text-900 font-medium text-xl">R$200,00</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <!-- <i class="pi pi-inbox text-cyan-500 text-xl"></i> -->
                        <i class="material-icons"> payments</i>
                    </div>
                </div>
                <span class="text-orange-500 font-medium">R$5,00 novo</span>
                <span class="text-500"> - Última verificação ás 19:40</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Custo esperado/mês</span>
                        <div class="text-900 font-medium text-xl">R$400,00 </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                        <!-- <i class="pi pi-comment text-purple-500 text-xl"></i> -->
                        <i class="material-icons"> schedule</i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">Programado</span>
                <span class="text-500"> - Última verificação ás 19:40</span>
            </div>
        </div>
    </div>
</div>

<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <p-panel >
        <ng-template pTemplate="header">
          Configurações Google API
        </ng-template>
       Botão para desabiltiar
        <ng-template pTemplate="footer">
            API KEY: AIzaSyDYR45TvExNG498aRNe...
        </ng-template>
    </p-panel>
</div>
