<div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Total requisições/dia</span>
                        <div class="text-900 font-medium   text-4xl">3000</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-black text-white border-round"
                        style="width:2.5rem;height:2.5rem">
                        <!-- <i class="pi pi-shopping-cart text-blue-500   text-4xl"></i> -->
                        <i class="material-icons"> today</i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">225 </span>
                <span class="text-500"> - Atualizado ás 19:40</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Total requisições/mês</span>
                        <div class="text-900 font-medium   text-4xl">22000</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-black text-white border-round"
                        style="width:2.5rem;height:2.5rem">
                        <!-- <i class="pi pi-map-marker text-orange-500   text-4xl"></i> -->
                        <i class="material-icons"> calendar_today</i>

                    </div>
                </div>
                <span class="text-green-500 font-medium">3000 </span>
                <span class="text-500"> - Atualizado ás 19:40</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Custo Total/mês</span>
                        <div class="text-900 font-medium   text-4xl">R$200,00</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-black text-white border-round"
                        style="width:2.5rem;height:2.5rem">
                        <!-- <i class="pi pi-inbox text-cyan-500   text-4xl"></i> -->
                        <i class="material-icons"> payments</i>
                    </div>
                </div>
                <span class="text-orange-500 font-medium">R$5,00</span>
                <span class="text-500"> - Atualizado ás 19:40</span>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Custo esperado/mês</span>
                        <div class="text-900 font-medium   text-4xl">R$400,00 </div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-black text-white border-round"
                        style="width:2.5rem;height:2.5rem">
                        <!-- <i class="pi pi-comment text-purple-500   text-4xl"></i> -->
                        <i class="material-icons"> schedule</i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">Programado</span>
                <span class="text-500"> - Atualizado ás 19:40</span>
            </div>
        </div>

    </div>

    <div class="surface-ground px-4 py-5 md:px-6 lg:px-8 col-12">
        <p-panel [toggleable]="true">
            <ng-template class="block text-500 font-medium mb-3" pTemplate="header">
                Configurações Google API
            </ng-template>

            <div class="grid col-12">
                <div class="col-6">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Status - Maps</span>
                                <div [hidden]="!LigDeslGoogleAPIMaps" class="text-green-900 font-medium   text-4xl">Ligado
                                </div>
                                <div [hidden]="LigDeslGoogleAPIMaps" class="text-red-900 font-medium   text-4xl">Desligado
                                </div>
                            </div>
                          
                            <div class="flex align-items-center justify-content-center bg-black text-white border-round"
                                style="width:2.5rem;height:2.5rem">
                                <!-- <i class="pi pi-shopping-cart text-blue-500   text-4xl"></i> -->
                                <i class="material-icons">map</i>
                            </div> 
                        </div>
                        <span class="text-500">Atualizado ás 19:40</span>
                        <p-inputSwitch class="flex col-3 align-self-center" [(ngModel)]="LigDeslGoogleAPIMaps" (change)="trocarStatusGoogleAPi($event)"></p-inputSwitch>
                    </div>
                </div>

                <div class="col-6">
                    <div class="surface-card shadow-2 p-3 border-round">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <span class="block text-500 font-medium mb-3">Status - Rotas</span>
                                <div [hidden]="!LigDeslGoogleAPIRotas" class="text-green-900 font-medium   text-4xl">Ligado
                                </div>
                                <div [hidden]="LigDeslGoogleAPIRotas" class="text-red-900 font-medium   text-4xl">Desligado
                                </div>
                            </div>
                          
                            <div class="flex align-items-center justify-content-center bg-black text-white border-round"
                                style="width:2.5rem;height:2.5rem">
                                <!-- <i class="pi pi-shopping-cart text-blue-500   text-4xl"></i> -->
                                <i class="material-icons"> where_to_vote</i>
                            </div>
                            

                        </div>

                        <span class="text-500">Atualizado ás 19:40</span>
                        <p-inputSwitch class="flex col-3 align-self-center" [(ngModel)]="LigDeslGoogleAPIRotas" (change)="trocarStatusGoogleAPi($event)"></p-inputSwitch>
                    </div>
                </div>
            </div>



            <ng-template pTemplate="footer">
                <div class="row">
                    <div class="col-12 grid"><span class="block text-500 text-black-alpha-90 font-medium ml-3"> API
                            KEY:
                        </span><span class="block text-500 font-medium ml-3">AIzaSyDYR45T...</span></div>
                    <div class="col-12 grid"><span class="block text-500 text-black-alpha-90 font-medium ml-3">
                            CLIENT ID:
                        </span><span class="block text-500  font-medium ml-3">522382642666...</span></div>
                    <div class="col-12 grid"><span class="block text-500 text-black-alpha-90 font-medium ml-3">
                            SECRET ID:
                        </span><span class="block text-500  font-medium ml-3">GOCSPX...</span></div>
                </div>
            </ng-template>
        </p-panel>
    </div>