<div class="row surface-ground  text-900  shadow-8 border-round-left-2xl border-round-right-2xl" style="height: 80vh;">
  <div class="grid">
    <div class="col-10 mt-5">
      <div class="mapMenuOn flex align-items-center my-1  border-round-left-2xl border-round-right-2xl align-self-center " id="map"></div>
    </div>
    <div  class="col-2 align-items-center" >
      <div class="col-1 "></div>
      <p-listbox class="col-10 " [options]="locationsComplex" [(ngModel)]="selectedLocation" [metaKeySelection]="false"
       [filter]="true" [multiple]="false" optionLabel="locationsComplex.[0]" [listStyle]="{'min-height':'100%'}"
        [style]="{'width':'100%'}">
        <ng-template let-location pTemplate="item">
          <div class="location-item">
            <div  (click)="mostrarFuncionario(location[3])">{{location[0]}}</div>
          </div>
        </ng-template>
      </p-listbox>
      <div class="col-1 "></div>
    </div>
  </div>
</div>
<!-- <button type="button" pButton  (click)="showDialog()" icon="pi pi-info-circle" label="Show"></button> -->



<!-- <div id="modal-window"  [ngClass]="{ 'modal-opened': mostrarModalFuncionario }"   class="modalwindow">
    <mat-card class="example-card">
      <mat-card-subtitle>São Paulo</mat-card-subtitle>
      <mat-card-title>Jonathan Rossato</mat-card-title>
      <mat-card-content>
        <p>Detalhes da rota do funcionário</p>
        <p>Proxima rota agendada</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <a  class="modalwindow__close">Votlar ao Mapa.</a>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div> -->

<!-- <p-dialog [(visible)]="mostrarModalFuncionario" class="border-round-left-2xl border-round-right-2xl bg-blue-300">
    
      <mat-card class="example-card">
        <mat-card-subtitle>São Paulo</mat-card-subtitle>
        <mat-card-title>{{selectedFuncionario[0]}}</mat-card-title>
        <mat-card-content>
          <p>Detalhes da rota do funcionário</p>
          <p>Proxima rota agendada</p>
          Localização: {{selectedFuncionario[1]}}
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
       
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    
</p-dialog> -->

<p-dialog [(visible)]="mostrarModalFuncionario" [ngModel]="selectedFuncionario" class="opacity-100 border-round-left-2xl border-round-right-2xl ">
<p-card header="{{selectedFuncionario[0]}}" subheader="São Paulo" [style]="{width: '360px'}" styleClass="p-card-shadow opacity-100">
  <ng-template pTemplate="header">
      <img alt="Card" class="align-items-center" src="assets/images/yuppie.png"[style]="{width: '50px'}">
  </ng-template>
  <p>Informações sobre a roda do {{selectedFuncionario[0]}}</p>
  <ng-template pTemplate="footer">      
      <!-- <p-button label="Fechar" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button> -->
  </ng-template>
</p-card></p-dialog>