
 
<!DOCTYPE html>
<html>
<body id="principal">  
    <div class="wrapper">
        
        <nav id="sidebar" [className]="toggle ? 'active' : 'inactive'">
            <div style="margin-top:10%" class="sidebar-header">
                <h1 class="text-5xl"><b >Smart</b>Geo</h1>
            </div>

            <ul style="margin-top:10%" class="list-unstyled components">
                <p>Jonathan Rossato</p>                
                <li>
                    <a href="#" (click)="mudarTitulo('Dashboard')" class="px-5" routerLink="/Dashboard">Dashboard</a>
                </li>
                <li>
                   
                    <a class="px-5" (click)="mudarTitulo('Mapa Equipe')" href="#"routerLink="/app/mapaEquipe">Mapa Equipe</a>
                </li>
                <li>
                 
                    <a class="px-5" (click)="mudarTitulo('Agendar/Planejar')" href="#"routerLink="/app/agendarPlanejar">Agendar/Planejar</a>
                </li>
                <li>
                  
                  <a class="px-5" (click)="mudarTitulo('Configurações')" href="#"routerLink="/Configuracoes">Configurações</a>
              </li>
            </ul>   
            
            
            <img src="assets/images/yuppie-white.png" style="margin-top: 180%; margin-left:6%" alt="Image" class="p-image-mask w-min" >
        </nav>

        <!-- Page Content Holder -->
        <div  id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button"  [className]="toggle ? 'active' : 'inactive'" id="sidebarCollapse" (click)="mudarActive()"  class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                        <div  class="flex-grow-1 flex-shrink-1 flex"></div> 
                        <div  class="flex-grow-1 flex font-bold" id="h1TituloDv">   <h1 id="h1Titulo" class=" text-5xl nav-item active" >Planejamento de Rotas</h1></div> 
                        <div  class="flex-grow-1 flex-shrink-1 flex"></div> 
                                         
                  </div>
                </div>
           </nav>
     
          <!-- //BODY AQUI -->
          <router-outlet></router-outlet> 
         
        </div>
    </div>
</body>
</html>


