@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

::ng-deep :root {  
    --cor-base-autoluks:#212121;
    --cor-base-complementar-autoluks: #a82e2e;
    --background-sidebar-autoluks:url(https://www.autoluks.com.br/uploads/1/1/5/6/115643989/background-images/1817667807.jpg);

    --cor-base-lukscolor:#016730;
    --cor-base-complementar-lukscolor: #ff9c0a;
    --background-sidebar-lukscolor: #016730;
    

    --cor-base: var(  --cor-base-autoluks);
    --cor-base-complementar:var( --cor-base-complementar-autoluks);
    --background-sidebar: var(--background-sidebar-autoluks);

}


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


.sidebarLukscolor {   
    background: var(--cor-base) !important; 
    background-image:var(--cor-base) !important; 
}
.sidebarAutoluks { 
    background-image: url(https://www.autoluks.com.br/uploads/1/1/5/6/115643989/background-images/1817667807.jpg) !important;
    background-repeat: no-repeat !important;    
    background-position: 90% 45% !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    color: #fff;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 10px;
    /* background: var(--cor-base); */
    background: transparent;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--cor-base-autoluks);;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: var(--cor-base-autoluks);
}

.sidebar-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: var(--cor-base);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #1c4a95
}

a.article,
a.article:hover {
    background: var(--cor-base) !important;;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
    border-radius: 5px !important;
    border-color: var(--cor-base) !important;
}


#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 500px) and (max-width: 1850px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}







.iconDash {
    background: url('src/assets/images/iconDash.png');
    color: white !important;
    margin-left: 5%;
    position: relative;
    background-repeat: no-repeat;
    width: 50%;
    display: inline-table;
    text-align: center;
    cursor: pointer;
}

.iconMap {
    background: url('src/assets/images/mapIcon.png');
    color: white !important;
    margin-left: 5%;
    position: relative;
    background-repeat: no-repeat;
    width: 50%;
    display: inline-table;
    text-align: center;
    cursor: pointer;

}

.iconConfig {
    background: url('src/assets/images/configIcon.png');
    color: white !important;
    margin-left: 5%;
    position: relative;
    background-repeat: no-repeat;
    width: 50%;
    display: inline-table;
    text-align: center;
    cursor: pointer;

}

.iconCalendar {
    background: url('src/assets/images/calendarIcon.png');
    color: white !important;
    margin-left: 5%;
    position: relative;
    background-repeat: no-repeat;
    width: 50%;
    display: inline-table;
    text-align: center;
    cursor: pointer;

    }

:host ::ng-deep .p-chip.custom-chip {
    background: var(--cor-base);
    color: white;    
    margin-bottom: 10%;
    border-bottom: 3px solid var(--cor-base-complementar) !important;
}

h1#h1Titulo {
    font-size: 70px;
    font-weight: 600;
    color: var(--cor-base);
    text-shadow: 0 0 black;
    background-clip: text;
    -webkit-background-clip: text;   
    font-family: 'Gugi';
}

#header {
    font-family: 'Gugi', cursive;
}

div#h1TituloDv{
    margin-left: 21%;
    
}


h1#header {
    margin-top: 4%;
}


ul.list-unstyled.components{  
    margin-top: 15vh;  
    padding: 20px 0;
    border-bottom: 1px solid var(--cor-base-complementar) !important;
}

nav#sidebar {
    min-width: 260px;
    max-width: 260px;
    background: var(--cor-base);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;


    background-repeat: no-repeat !important;    
    background-position: 90% 45% !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}


.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    background-color: black;
    color: white;
  }
  
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
    background-color: black;
    color: white;
  }
  
  .dropdown-submenu>a:after {
    display: block;
    /* content: " "; */
    float: none;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: white;
    margin-top: 5px;
    margin-right: -10px;
  }
  
  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }
  
  .dropdown-submenu.pull-left {
    float: none;
  }
  
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  .linkSubmenu{
    background-color: var(--cor-base);
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: var(--cor-base-complementar);

  }