:host ::ng-deep .p-dialog .usuario-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.p-button.p-button-config, .p-buttonset.p-button-config > .p-button, .p-splitbutton.p-button-config > .p-button {
    color: #ffffff;
    background: var(--cor-base);
    border: 1px solid var(--cor-base-complementar);
}

.p-button.p-button-config:enabled:hover, .p-buttonset.p-button-config > .p-button:enabled:hover, .p-splitbutton.p-button-config > .p-button:enabled:hover {
    background: #094902;
    color: #ffffff;
    border-color: #094902;
}