.full{
    width: 98%;
    height: 99%;
    margin-top: 2%;
    margin-left: 3%;
   }

   
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(28,74,149) rgb(156,167,182);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(156,167,182);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(28,74,149);
    border-radius: 20px;
    border: 3px solid rgb(156,167,182);
  }



  

.mat-button-toggle-checked {
  background-color: #3b82f6;
  color: white;
  /* color: rgba(0,0,0,.54); */
  
}

.togleCEP{

}
.mat-button-toggle-group {
  height: 32px;
  align-items: center;
  margin-left: 10px;
}




























