
<div class="grid">
    <div class="row ml-5"><div>Inicio:</div><input type="text" id="inicio"  /></div>
    <div class="row ml-5"><div>Destino:</div><input type="text" id="fim"  /></div>
    <div class="row ml-5"><div>Parada1:</div><input type="text" id="parada1"  /></div>
    <div class="row ml-5"><div>Parada2:</div><input type="text" id="parada2"  /></div>
    <div class="row ml-5"><div></div><button type="text" id="enviar">Calcular</button></div>

</div>
<div class="full" id="mapAgendar"></div>