html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}


#mapAgendar {
  width: 98%;
  height: 97%;
  margin-top: 2%;
  margin-left: 3%;
}
.p-timeline-event-marker.ng-star-inserted {
  border: 2px solid #f8f9fa;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #212121;
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  /* scrollbar-color: rgb(28, 74, 149) rgb(156, 167, 182); */
  scrollbar-color: var(--cor-base-complementar) var(--cor-base-complementar);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--cor-base);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--cor-base-complementar);
  border-radius: 20px;
  border: 3px solid var(--cor-base-complementar);
}





.mat-button-toggle-checked {
  background: var(--cor-base);
  color: white;
  /* color: rgba(0,0,0,.54); */

}

.mat-button-toggle-group {
  height: 32px;
  align-items: center;
  margin-left: 10px;
}


div#grupoBotoes {
  margin-top: 20px;
  margin-left: 20px;
}

.row.surface-ground.text-900.shadow-8.border-round-left-2xl.border-round-right-2xl {
  height: 90%;
}

div#grupoGeral {
  height: 99%;
}

div#sidebarPanel {
  overflow: scroll;
  max-height: 22vh;
}

div#sidebarMarkers {
  max-height: 45vh;
  overflow: scroll;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 500px) and (max-width: 1100px) {
  .row.surface-ground.text-900.shadow-8.border-round-left-2xl.border-round-right-2xl {
    height: 70%;
  }

  div#grupoGeral {
    height: 70%;
  }

  div#sidebarPanel {
    overflow: scroll;
    display: none;
  }

  #mapAgendar {
    width: 95%;
    height: 95%;
    margin-top: 2%;
    margin-left: 3%;
  }
}


.p-toast-message-custom {
  background-color: #E1CFE7;
  border: solid #8A427A;
  border-width: 0 0 0 6px;
  color: #2c1e30;

}

.p-toast-icon-close {
  color: #2c1e30;
}

.p-button {
  color: #ffffff;
  background: var(--cor-base);
  border: 1px solid var(--cor-base);
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}