<div class="row surface-ground  text-900  shadow-8 border-round-left-2xl border-round-right-2xl">
    <div class="grid">

        <div class="col-3 align-items-center" id="colgrupoGeral">
            <div id="grupoGeral" class="row">
                <div id="sidebarPanel" [hidden]="!rotaManualVisualizar" class=" mt-4 ml-5"></div>
                <div id="sidebarMarkers" [hidden]="!rotaManualVisualizar" class=" mt-4 ml-5 min-w-full ">
                  
                    <div class="card" [ngStyle]="{backgroundColor:'rgb(239,243,248)'} ">
                        <p-timeline [value]="listaPontos" align="alternate">
                            <ng-template pTemplate="content" let-pontos>
                                <small class="p-text-secondary">{{pontos.b}} - {{pontos.c}}</small>
                            </ng-template>
                            <ng-template pTemplate="opposite" let-pontos>
                                <b style="color:red">[{{pontos.d}}]</b> - <b>{{pontos.a}}</b>
                            </ng-template>
                        </p-timeline>
                    </div>
                </div>


                <div id="grupoInput" [hidden]="rotaManualVisualizar" class="flex-row ">
                    <div class="row ml-5 mt-5  min-w-full">
                        <span class="p-input-icon-right  min-w-full">
                            <i class="pi pi-search  mr-2"></i>
                            <input type="text" id="partida" class="min-w-full " pInputText placeholder="Partida">
                        </span>
                    </div>
                    <div class="row ml-5 mt-5  min-w-full">
                        <span class="p-input-icon-right  min-w-full">
                            <i class="pi pi-search mr-2"></i>
                            <input type="text" id="destino" class="min-w-full" pInputText placeholder="Destino">
                        </span>
                    </div>
                    <div class="row ml-5 mt-5  min-w-full">
                        <span class="p-input-icon-right  min-w-full">
                            <i class="pi pi-search  mr-2"></i>
                            <input type="text" id="parada" class="min-w-full" pInputText
                                placeholder="Parada (Opcional)">
                        </span>
                    </div>

                    <div class="row ml-5 mt-5 min-w-full" [hidden]="!parada2show">
                        <span class="p-input-icon-right">
                            <i class="pi pi-search  mr-2"></i>
                            <input type="text" id="parada2" class="min-w-full" pInputText
                                placeholder="Parada 2 (Opcional)">
                        </span>
                    </div>
                    <div class="row ml-5 mt-5 min-w-full" [hidden]="!parada3show">
                        <span class="p-input-icon-right">
                            <i class="pi pi-search  mr-2"></i>
                            <input type="text" id="parada3" class="min-w-full" pInputText
                                placeholder="Parada 3 (Opcional)">
                        </span>
                    </div>
                    <div class="row ml-5 mt-5 min-w-full" [hidden]="!parada4show">
                        <span class="p-input-icon-right">
                            <i class="pi pi-search  mr-2"></i>
                            <input type="text" id="parada4" class="min-w-full" pInputText
                                placeholder="Parada 4 (Opcional)">
                        </span>
                    </div>
                </div>

                <div class="row mb-3 align-self-end " [hidden]="!envarRotasVisualizar" id="grupoBotoes">
                    <div class="flex align-items-center justify-content-center">
                        <input id="uploadFile" style="display: none" type="file"  [(ngModel)]="valorFileText" (change)="onFileSelected($event)"
                            #hiddenfileinput>
                        <button pButton id="uploadFile2"  (click)="hiddenfileinput.click()" label="Importar Rotas"
                            class="col-6 waves-effect waves-light btn shadow-4 " [loading]="isUpload"><i
                                class="material-icons left"> map</i></button>
                        <div clas="row col-6 mb-2" [ngStyle]="{'display':!rotaManualVisualizar ? 'none' : ''}" id="togleCEP">
                            <mat-button-toggle-group  class="shadow-4 border-round-left-4xl border-round-right-4xl" (change)="manipularTipoImportacao($event)" [value]="buscarPorCep" [(ngModel)]="buscarPorCep" aria-label="Tipo de Importação">
                                <mat-button-toggle [value]="true" >CEP</mat-button-toggle> 
                                <mat-button-toggle [value]="false" >Lat/Lon</mat-button-toggle>                                                               
                            </mat-button-toggle-group>
                        </div>
                    </div>

                    <button pButton [hidden]="!rotaManualVisualizar"
                        (click)="rotaManualVisualizar = !rotaManualVisualizar" (click)="rotaManualVisualizarFunc()"
                        type="button" label="Rota Manual" [disabled]="false" icon="pi pi-pencil"
                        class="p-button-secondary min-w-full text-center mt-3 shadow-4"></button>   

                    <div class="group">
                        <button pButton type="button" [hidden]="rotaManualVisualizar" (click)="adicionarParadaTela()"
                            id="adicionarParada" label="Adicionar Paradas" icon="pi pi-plus-circle" iconPos="right"
                            class=" btn min-w-full mt-3 shadow-4">
                        </button>
                        <button pButton id="enviar" [hidden]="rotaManualVisualizar" type="button"
                            label="Calcular Rota Manual" icon="pi pi-search"
                            class="p-button-success min-w-full text-center mt-3 shadow-4"></button>
                    </div>

                    <button pButton [hidden]="rotaManualVisualizar"
                    (click)="rotaManualVisualizar = !rotaManualVisualizar" (click)="rotaManualVisualizarFunc()"
                    type="button" label="Rota Automática" icon="pi pi-bars"
                    class="p-button-secondary min-w-full text-center mt-3 shadow-4"></button>



                </div>
            </div>
        </div>
        <div class="col-9 mt-1">
            <div class="flex align-items-center my-1  border-round-left-2xl border-round-right-2xl align-self-center "
                id="mapAgendar"></div>

        </div>
    </div>
</div>
<p-toast  [preventDuplicates]="true"   position="top-right"></p-toast>