html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}


#mapAgendar {
  width: 98%;
  height: 97%;
  margin-top: 2%;
  margin-left: 3%;
}
.p-timeline-event-marker.ng-star-inserted {
  border: 2px solid #f8f9fa;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #212121;
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  /* scrollbar-color: rgb(28, 74, 149) rgb(156, 167, 182); */
  scrollbar-color: var(--cor-base-complementar) var(--cor-base-complementar);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--cor-base);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--cor-base-complementar);
  border-radius: 20px;
  border: 3px solid var(--cor-base-complementar);
}





.mat-button-toggle-checked {
  background: var(--cor-base);
  color: white;
  /* color: rgba(0,0,0,.54); */

}

.mat-button-toggle-group {
  height: 32px;
  align-items: center;
  margin-left: 10px;
}


div#grupoBotoes {
  margin-top: 20px;
  margin-left: 20px;
}

.row.surface-ground.text-900.shadow-8.border-round-left-2xl.border-round-right-2xl {
  height: 90%;
}

div#grupoGeral {
  height: 99%;
}

div#sidebarPanel {
  overflow: scroll;
  max-height: 60vh;
}

div#sidebarMarkers {
  max-height: 60vh;
  overflow: scroll;
}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 1589px) and (max-width: 2500px) {
  #uploadFile2{
    /* padding: 1rem 0.15rem; */
  }

  div#sidebarPanel {
    overflow: scroll;
  
  }

  #mapAgendar {
    width: 95%;
    height: 95%;
    margin-top: 2%;
    margin-left: 3%;
  }
  #mostrarMapaBtn {  
    display: none
  }
}


@media (min-width: 1200px) and (max-width: 1589px) {
  #uploadFile2{
    padding: 1.15rem 0.15rem;
  }
#containerMap{
  width: 73%;
  margin-left: 1%;
}
  div#sidebarPanel {
    overflow: scroll;

  }
  #mostrarMapaBtn {  
    display: none
  }
}

/* @media (min-width: 800px) and (max-width: 1200px) {
  #containerMap{
    width: 65%;
    margin-left: 1%;
  }
    div#sidebarPanel {
      overflow: scroll;
      display: none;
    }
  } */
  @media (min-width: 1000px) and (max-width: 1589px) {
    #uploadFile2{
      padding: 0.15rem 0.15rem;
    }
    #containerMap{
      width: 61%;
      margin-left: 4%;
    }
    
  #mapAgendar {
    width: 95%;
    height: 95%;
    margin-top: 2%;
    margin-left: 3%;
  }
  #mostrarMapaBtn {  
    display: none
  }
}



@media (min-width: 500px) and (max-width: 1100px) {

  /* .row.surface-ground.text-900.shadow-8.border-round-left-2xl.border-round-right-2xl {
    height: 70%;
  }

  div#grupoGeral {
    height: 70%;
  } */



  #mapAgendar {
    width: 95%;
    height: 95%;
    margin-top: 2%;
    margin-left: 3%;
  }
  div#containerMap{
   height: 50%;
  }

  #gridGeral{
    height: 200%;
  }
}


.p-toast-message-custom {
  background-color: #E1CFE7;
  border: solid #8A427A;
  border-width: 0 0 0 6px;
  color: #2c1e30;

}

.p-toast-icon-close {
  color: #2c1e30;
}

.p-button {
  color: #ffffff;
  background: var(--cor-base);
  border: 1px solid var(--cor-base);
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

div#h1Marker{
  border-bottom: 1px solid var(--cor-base-complementar) !important;
}






.googleClass {
  background-color: #252525 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 120px !important;
  padding-top: 10px;
  display: block !important;
}


.link-cep {
  color: #000000;
  text-decoration: none; 
  font-weight: bold; 
}


:host ::ng-deep .p-inputnumber-button-up , 
:host ::ng-deep .p-inputnumber-button-down{
    border-radius: 15%;
    border: none;
    margin: 0 10px;
    background-color: rgb(0, 0, 0);
    width: 30px;
}

:host ::ng-deep .spinner-color .p-progress-spinner-circle {
  animation: spinner-color-css 8s ease-in-out infinite;
}

@keyframes spinner-color-css {
100%,
0% {
      stroke: #a82e2e;
}
40% {
      stroke: #a82e2e;
}
66% {
      stroke: #a82e2e;
}
80%,
90% {
      stroke: #a82e2e;
}
}